<ion-view title="Actividades" id="pageActividades">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <button id="actividades-button4" class="button button-positive  button-block">Padel</button>
        <button id="actividades-button5" class="button button-positive  button-block">Tenis</button>
        <button id="actividades-button6" class="button button-positive  button-block">Vela</button>
        <button id="actividades-button7" class="button button-positive  button-block">Remo</button>
        <button id="actividades-button8" class="button button-positive  button-block">Salas</button>
    </ion-content>
</ion-view>