<ion-view title="Nosotros" id="pageNosotros">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/YgXMUSH3T0yHka1foxdg_rcmediterraneo.jpg" width="80%" height="auto">
        </div>
        <div id="nosotros-markdown1" style="color:#000000;">
            <p>El
                <strong>Real Club Mediaterraneo</strong>es un club náutico situado en la ciudad española de Málaga. Es el más antiguo de España, fundado en 1873, y uno de los más importantes, siendo miembro de la Asociación Española de Clubes Náuticos.</p>

            <p>El club tiene diferentes secciones deportivas, entre las que destacan la vela, el remo y la natación.</p>

            <p>Entre la gran cantidad de campeonatos internacionales y nacionales organizados por la entidad, destaca la celebración anual del prestigioso Trofeo Su Majestad el Rey.</p>
        </div>
    </ion-content>
</ion-view>